@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


#pedidos-reservas {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

#columnas {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
}

/* Estilos para cada columna */
.columna {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    font-family: 'EB Garamond';
    background-color: #ebecf0;
    border-radius: 12px;
    width: 500px;
    min-height: 200px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}

/* Título de la columna */
.columna h3 {
    margin: 0 0 20px 0;
    width: fit-content;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.card-administrador {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-header h4 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.card-title h4 {
    margin: 0;
    font-weight: 500;
}
.card-content {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    font-size: 14px;
}

.expand-icon {
    font-size: 0.8 em;
    color: #666;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.expanded .expand-icon {
    transform: rotate(180deg);
}

.card-actions {
    display: flex;
    gap: 10px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-icon {
    width: 25px;  
    height: 25px;
    object-fit: contain;
}

.platos-list {
    margin: 8px 0;
    padding-left: 20px;
}
  
.platos-list li {
    margin-bottom: 4px;
}

.platos-list {
    list-style-type: none;
    padding: 0;
    margin: 8px 0;
}

.plato-item {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.plato-item:last-child {
    border-bottom: none;
}

.plato-descripcion {
    color: #666;
    font-size: 12px;
    margin: 4px 0;
}

.plato-precio {
    color: #2c3e50;
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    .columna {
        width: 300px;
    }

}

@media screen and (max-width: 600px) {
    .card-administrador {
        width: 65%;
    }
    #columnas {
        flex-direction: column;
    }
}