@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #9D032B;
    width: 100%;
    height: 120px;
    z-index: 1;
    font-family: 'EB Garamond';

  }
  
  h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Italianno';
    font-size: 64px;
    color: white;
    padding: 10px;
    margin: 0;
    font-weight: 400;
    font-style: normal;
  }

  .container-admin {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
}

.container-admin p {
    color: white;
    font-size: 18px;
    margin-top: 50px;
}

.icono {
    width: 75px;
    height: 75px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#columnas {
    display: flex;
    gap: 50px;
    padding: 20px;
    align-items: center; 
    justify-content: center;
    border: 1px solid red;
}
/* Estilos para cada columna */
.columna {
    font-family: 'EB Garamond';
    background-color: #ebecf0;
    border-radius: 12px;
    min-width: 600px;
    width: 700px;
    min-height: 200px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Título de la columna */
.columna h3 {
    margin: 0 0 20px 0;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
  
.card-administrador {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
}
